<div class="container mt-5">
    <h2>Patient Information</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Serial No</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Email</th>
          <th scope="col">City</th>
          <th scope="col">Mobile No</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      @for (item of patientList; track $index) {
      <tbody>
        <tr>
          <td>{{$index+1}}</td>
          <td>{{item.patientName}}</td>
          <td>{{item.email}}</td>
          <td>{{item.city}}</td>
          <td>{{item.mobileNo}}</td>
          <td>{{item.address}}</td>
        </tr>
      </tbody>
    }
    </table>
  </div>